# Ignore files called 'passsword.php'
PDO/password.php
pure_php/password.php
laravel/laravel_login.md

# git rm -r --cached PDO/password.php 
# git rm -r --cached pure_php/password.php
# git rm -r --cached laravel/laravel_login.md
